<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {% block stylesheets %}

    <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <link rel='stylesheet' href='/stylesheets/authStyle.css' /> 
    <link rel='stylesheet' href='/stylesheets/error.css' /> 
    <link rel='stylesheet' href='/stylesheets/add_personnel.css' /> 
    <link rel='stylesheet' href='/stylesheets/showEmp.css' /> 
    <link rel='stylesheet' href='/stylesheets/adminHome.css' /> 
    <script src ='/javascripts/add_personnel.js'> </script>

    <link rel='stylesheet' href='/stylesheets/dashboard.css' /> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 


    {% endblock %}
  </head> 
   <body>
    {% block body %}
    

{% endblock %}
  </body>
  
</html>
